
/***** HEADER STYLES *****/

.main-title {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.nav-list,
.menu-list {
	list-style-type: none;
}

.nav-list-item {
	display: inline;
	margin: 1em;
}

/***** LINK STYLING *****
a {
  	font-family: monospace;
  	text-decoration: underline;
  	font-weight: none;
  	font-size: 1.5em;
}

a:link {
	color: blue;
}

a:visited {
 	color: brown;
}

a:hover {
  	font-weight: bold;
}

a:active {
	text-decoration: none;
}

*/

/***** MAIN BODY STYLES *****/

main {
	background-color: #F0EAD6;
} 


/***** FOOTER STYLES *****/

footer {
	text-align: center;
} 

.footer-content {
	margin: 1em;
}


.rest-content-container, 
.rest-photo-container {
	max-width: 400px;
}

.rest-content-container {
	margin: 0 auto;
}

.hero {
	max-height: 150px;
	width: 400px;
	object-fit: cover;
}

/***** TABLE STYLING *****/

.beverages {
	margin: 0 auto;
}

.beverage-heading {
	text-align: center;
}

tr:nth-child(odd) {
  background-color: white;
}

.contact-form,
.menu {
	padding: 2em;
}

header {
	padding-bottom: 2em;
}

@media screen and (min-width: 768px) {
	.contact-form {
		width: 50%;
		margin: 0 auto;
	}
}