.main-title {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.nav-list,
.menu-list {
	list-style-type: none;
}

.nav-list-item {
	display: inline;
	margin: 1em;
}

main {
	background-color: #F0EAD6;
} 

#axton-carousel {
	max-width: 500px;
	margin: 0 auto;
}

.carousel-caption {
	background-color: black;
	opacity: 0.7;
}

footer {
	text-align: center;
} 

.footer-content {
	margin: 1em;
}

.rest-content-container, 
.rest-photo-container {
	max-width: 400px;
}

.rest-content-container {
	margin: 0 auto;
}

.hero {
	max-height: 150px;
	width: 400px;
	object-fit: cover;
	margin-top: 5%;
}